.about {
  padding: 120px 0;

  &__inner {
    display: flex;
  }
  &__img {
    max-height: 673px;
    max-width: 573px;
    width: 100%;
    margin-right: 50px;
  }
  &__years {
    margin: 80px 0 40px;
    display: flex;
    align-items: flex-end;
  }
  &__years-num {
    @extend %Rubik-700;
    font-size: 140px;
    color: $lightblue;
    line-height: 0.8;
    margin-right: 20px;
  }
  &__years-text {
    @extend %Rubik-400;
    line-height: 1.9;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__text {
    @extend %Rubik-400;
    line-height: 1.7;
    margin-bottom: 40px;
  }
  &__line {
    display: block;
    height: 2px;
    width: 94%;
    background-color: #f6f6f6;
    margin-bottom: 40px;
  }
  &__stats {
    display: flex;
    font-weight: 700;
    margin-left: 55px;
  }
  &__data {
    position: relative;
    &+& {
      padding-left: 120px;
    }
    &::before {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      height: 80px;
      width: 2px;
      background-color: #f6f6f6;
      top: -10px;
      right: -27px;
    }
    &:last-child::after {
      display: none;
    }
    &--projects::before {
      position: absolute;
      background-image: url('../images/icons/icon-about-1.svg');
      left: -55px;
      top: 10px;
    }
    &--revenue::before {
      background-image: url('../images/icons/icon-about-2.svg');
      left: 60px;
      top: 10px;
    }
    &--awards::before {
      background-image: url('../images/icons/icon-about-3.svg');
      left: 60px;
      top: 10px;
    }
  }
  &__num {
    font-size: 36px;
  }
  &__subhead {
    color: #4c4c4c;
  }
}