.team {
  padding: 120px 0 100px;

  &__inner {
    display: flex;
  }
  &__text {
    max-width: 295px;
    width: 100%;
    margin-right: 90px;
  }
  &__title {
    margin-bottom: 34px;
  }
  &__descr {
    @extend %Rubik-400;
    line-height: 1.7;
    margin-bottom: 40px;
  }
  &__people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &__member {
    position: relative;
    margin-bottom: 70px;
  }
  &__img {
    max-height: 317px;
  }
  &__name {
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    color: #436372;
    padding: 30px 0 30px 30px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    width: 325px;
    bottom: -60px;
  }
  &__position {
    display: block;
    @extend %Rubik-400;
    font-size: 16px;
    color: #565872;
    padding-top: 15px;
  }
  &__social {
    position: absolute;
    display: flex;
    bottom: -20px;
    right: 67px;
  }
  &__instagram,
  &__google {
    background-color: #f6f6f6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline-color: $darkblue;
    path {
      fill: #888;
    }

    transition: all 0.3s;
    &:hover {
      background-color: $darkblue;

      path {
        fill: #fff;
      }
    }
    &:focus {
      path {
        fill: #fcd7b6;
      }
    }
  }
  &__instagram {
    margin-right: 7px;
  }
}