$darkblue: #243f4d;
$secondary-black: #262726;
$title-black: #191919;
$orange: #fcd7b6;
$grey: #7b7b7b;
$lightblue: #a3bbc8;

%DMSans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-700 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

