@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'components/header';
@import 'index/top-slider';
@import 'index/top-information';
@import 'components/filter';
@import 'components/products';
@import 'components/cards';
@import 'index/design';
@import 'index/special';
@import 'components/button';
@import 'components/effects';
@import 'index/video';
@import 'components/footer';



.articles {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__more {
    @extend %DMSans-700;
    font-size: 16px;
    color: $secondary-black;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    min-height: 420px;
    max-width: 370px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__img {
    margin-bottom: 35px;
  }

  &__type {
    @extend %Poppins-700;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $lightblue;
    border-radius: 25px;
    padding: 8px 33px;
    position: absolute;
    left: 27px;
    bottom: 37%;
  }

  &__info {
    margin: 0 27px;
    max-width: 315px;
    width: 100%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background-color: #e0e0e0;
      height: 1px;
      width: 315px;
      bottom: 35px;
    }
  }

  &__descr {
    @extend %DMSans-500;
    font-size: 18px;
    color: $secondary-black;
  }

  &__data {
    padding-top: 40px;
    @extend %Rubik-400;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__author {
    padding-left: 40px;
  }
}

.partners {
  padding: 270px 0 90px;
  background-color: rgba(252, 215, 182, 0.2);
  transform: translateY(-38%);
  z-index: -1;

  &__link {
    margin: 0 35px;
  }
}


