@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'components/header';

@import 'components/top';

@import 'index/top-slider';
@import 'index/top-information';

@import 'components/filter';
@import 'components/products';
@import 'components/cards';

@import 'index/special';

@import 'index/design';

@import 'components/button';
@import 'components/effects';

@import 'index/video';
@import 'components/articles';

@import 'index/modal';

@import 'index/about';
@import 'index/about-clients';
@import 'index/team';

@import 'components/partners';

@import 'components/footer';


.personal {
  padding-top: 120px;

  &__title {
    @extend %Rubik-500;
    font-size: 24px;
    margin-bottom: 30px;
  }
  &__list {
    list-style-type: decimal-leading-zero;
    margin: 0 0 40px 30px;
  }
  &__item {
    @extend %Rubik-400;
    line-height: 1.8;
    padding-bottom: 25px;
    padding-left: 10px;
  }
  &__info-text {
    line-height: 1.8;
    @extend %Rubik-400;
    line-height: 1.8;
    margin-bottom: 60px;
  }
  &__info:last-child {
    margin-bottom: 120px;
  }
}
