@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 48px 0 45px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 100px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %Rubik-500;
  }
  &__list-link--plus::after {
    content: '+';
    height: 8px;
    width: 8px;
    margin-left: 4px;
  }
}

.user-nav {
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__link+.user-nav__link {
    padding-left: 50px;
  }
  &__link--search {
    background-color: #edf1f4;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-content: center;
  }
  &__link--menu {
    background-color: #a3bbc8;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    background-color: $background;
    height: 50px;
    width: 178px;
    border-radius: 25px;
  }
  &__border {
    position: absolute;
    border-right: 1px solid #fde7d3;
    bottom: 10px;
    top: 10px;
    left: 48px;
  }
  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 9px;
    right: -11px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    color: $default;
  }
}

.footer {
  @extend %Rubik-400;
  color: $footer-text;
  font-size: 14px;
}

.footer-top {
  padding: 80px 0 60px;
  border-bottom: 1px solid rgba(38, 39, 38, 0.4);
  display: flex;
  &__item {
     line-height: 24px;
     max-width: 270px;
     width: 100%;
  }
  &__item {
    margin-right: 30px;
  }
  &__logo {
    margin-bottom: 20px;
    display: block;
  }
  &__address-item {
    margin-bottom: 10px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 14px;
    margin-bottom: 20px;
    color: $secondary;
  }
  &__text {
    margin-bottom: 7px;
  }
  &__newsletter {
    margin-right: 0;
  }
  &__form-text {
    margin-bottom: 30px;
  }
  &__form {
    @extend %DMSans-400;
    display: flex;
  }
  &__form-input {
    background-color: rgba(252, 215, 182, 0.2);
    max-width: 170px;
    width: 100%;
    border: none;
    color: #234969;
    padding: 9px 0 9px 15px;
    &::placeholder {
      font-size: 12px;
    }
  }
  &__form-btn {
    @extend %btn;
    padding: 9px 18px;
    color: white;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 38px;
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 13px;
    border-left: 1px solid;
  }
  &__item:first-child {
     border: none;
  }
  &__link {
    padding-left: 14px;
  }
}

.top-slider {
  margin-top: 5px;
  &__inner {
    background-color: $background;
  }
  &__item {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
  }
  &__title {
    max-width: 500px;
    width: 100%;
    font-size: 72px;
    @extend %Rubik-500;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 215px;
  }
  &__text {
    max-width: 370px;
    font-size: 18px;
    @extend %Rubik-400;
    color: #436372;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__link {
    @extend %btn;
    display: inline-block;
    padding-right: 100px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    background-image: url('../images/arrow.svg');
    background-repeat: no-repeat;
    background-position: 86%;
    transition: all 0.3s;
    &:hover {
      background-color: white;
      color: $button;
      padding-left: 100px;
    }
  }
  &__visual {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/image-circle.png');
      background-repeat: no-repeat;
      background-position: right;
      height: 640px;
      width: 640px;
      right: -130px;
      top: 100px;
      z-index: -1;
    }
  }
  &__img {
    padding-top: 290px;
    padding-left: 20px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
     outline: none;
    li {
      padding: 0 10px 40px 0;
      button{
        padding: 0;
        @extend %Rubik-500;
        color: #667983;
        font-size: 10px;
        line-height: 30px;
        background-color: rgba(255, 255, 255, 0.3);
        width: 28px;
        height: 28px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s;
        outline: none;
        &:hover {
           background-color: #ffffff;
           color: $default;
        }
      }
      &.slick-active {
        button {
          background-color: #ffffff;
          color: $default;
        }
      }
    }
  }
}


  







@import 'media';
