.button {
  border: none;
  outline-color: #000;
  @extend %Rubik-500;
  text-decoration: none;
  padding: 20px 0 20px 26px;
  min-width: 200px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  background-color: $lightblue;
  background-image: url('../images/arrow-white.svg');
  background-repeat: no-repeat;
  background-position: 86%;
  cursor: pointer;
  transition: all 0.3s;
  &:focus {
    color: $orange;
    background-image: none;
  }
  &:hover {
    background-color: #ffffff;
    color: $lightblue;
  }
  &:active {
    color: #ffffff;
    background-image: none;
  }
  &--transparent {
    min-width: 180px;
    color: #436372;
    background-color: transparent;
    border: 1px solid #436372;
    border-radius: 5px;
    padding: 19px 0 19px 20px;
    background-image: url('../images/arrow-blue.svg');
    &:focus {
      color: #000000;
    }
    &:hover {
      background-color: #436372;
      color: $orange;
    }
    &:active {
      color: $lightblue;
    }
  }
  &--small {
    padding: 0 9px;
    min-width: 100px;
    background-image: none;
    &:focus {
      color: #000;
    }
    &:hover {
      background-color: #436372;
      color: $orange;
    }
    &:active {
      background-color: #ffffff;
      border: 1px solid $lightblue;
    }
  }
  &--middle {
    @extend %Rubik-400;
    padding: 16px;
    min-width: 170px;
    border-radius: 5px;
    &:focus {
      color: #000;
      background-image: none;
    }
    &:hover {
      background-color: #436372;
      color: $orange;
    }
    &:active {
      background-color: #ffffff;
      border: 1px solid $lightblue;
      background-image: none;
    }
  }
}