.links-effects {
  border: none;
  background-color: transparent;
  @extend %DMSans-700;
  color: #8b8b8b;
  transition: color 0.3s;
  outline: transparent;
  cursor: pointer;
  &:hover {
    color: $lightblue;
  }
  &:focus {
    color: $title-black;
  }
  &:active {
    color: $grey;
  }
}