.filter {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;

  &__link {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    @extend %DMSans-700;
    color: #8b8b8b;
  }
}