.header {
  padding: 48px 0 45px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    padding-left: 110px;

    &__list {
      display: flex;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    &__link {
      font-size: 15px;
      color: #436372;
      @extend %Rubik-500;
      &--plus::after {
        content: '+';
        height: 8px;
        width: 8px;
        margin-left: 4px;
      }
    }
  }
  
  &__nav {
    display: flex;
    path {
      transition: fill 0.3s;
    }
  }

  &__nav-search {
    background-color: #edf1f4;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-content: center;
  }

  &__nav-menu {
    background-color: #a3bbc8;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    justify-content: center;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    &:hover {
      path {
        fill: $orange;
      }
    }
    &:focus {
      path {
        fill: #000000;
      }
    }
    &:active {
      path {
        fill: $darkblue;
      }
    }
  }

  &__nav-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    background-color: $orange;
    height: 50px;
    min-width: 178px;
    border-radius: 25px;
    &::after {
      position: absolute;
      content: '';
      border-right: 1px solid #fde7d3;
      bottom: 10px;
      top: 10px;
      left: 50%;
    }
  }

  &__nav-btn {
    position: relative;
    width: 45%;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    path {
    &:hover {
      fill: #ffffff;
      }
    &:focus {
      fill: #000000;
      }
    &:active {
      fill: $lightblue
      }
    }
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 9px;
    right: 20px;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    color: $darkblue;
  }
}