.products {
  margin: 75px 0 100px;
  text-align: center;

  &__title {
    margin-bottom: 25px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
